html, body {
	font-family: 'Open Sans', sans-serif;
	height:100%;
	background: url('../images/grindsx_bg_texture.png') 100% 100%;
	color: #71675b;
	width: 100%;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    background-color: #171717;
}
 
body::-webkit-scrollbar-thumb {
    background-color: rgb(237, 193, 154);
    outline: 0.1em solid #3f2f29;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cinzel Decorative', cursive;
	color: #edc19a;
}

.hero-title {
	position: absolute;
	top: -50%;
	font-size: 6rem;
}

.navbar {
	background: linear-gradient(rgba(34, 34, 34, 0.95), rgba(34, 34, 34, 0.75));
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #3f2f29;
}

.seperator {
	background: url('../images/grindsx_seperator.png') 50% 100% no-repeat;
	position: relative;
}

.content {
	padding: 1em;
	background: #171717;
	box-shadow: 0 0 0.5em #000;
}

.content img {
	box-shadow: 0 0 0.5em #000;
	margin: 0.5rem 0;
}

.content .gallery-item .caption-bg {
	position: absolute;
	bottom: -0.5em;
	width: calc(100% - 1.9em);
	background: rgba(24, 10, 7, 0.7);
	box-shadow: 0 0.1em 0.75em rgba(97, 51, 40, 0.9);
	border: 0 1px solid rgb(117, 43, 26);
	padding: 1em;
}

.content .gallery-item .caption-wrapper {
	position: absolute;
	top: 3em;
	bottom: 0;
	text-align: left;
	opacity: 0;
	transition: 0.5s all;
}

.content .gallery-item {
	position: relative;
	transition: 0.5s all;
}

.content .gallery-item .caption-wrapper:hover {
	top: 0;
	opacity: 1;
}

.content .gallery-item .caption:hover {
	margin-top: 0;
}

.content .gallery-item:hover {
	transform: scale(1.05);
}

.img-tint {
	background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75));
}

/* charts */
.charts {float:left;width:100%;text-align:center;margin-top:10px;}
.chart {position:relative;display:inline-block;margin:0 20px 25px 20px;}
.chart span {color:#fff;display:inline-block;font-size:40px;font-weight:800;position:absolute;top:29px;left:35px;}
.chart:first-child {margin-left:0;}
.chart:last-child {margin-right:0;}

#header {
	background-image: url(../img/headerbg.jpg);
	background-position: top center;
	background-attachment: fixed;
	color: white;
	min-height:100%;
	vertical-align: middle;
	width:100%;
	display:table;
	overflow:hidden;
}

.header-block {
	width:300px;
	vertical-align: middle;
	display:table-cell;
	overflow:hidden;
}
.container {
	max-width: 980px;
}

.text-right {
	text-align: right;
}
.move-down {
	position:absolute;
	bottom:-40px;
	text-align:center;
	color:#AAA;
	width:100%;
	height:80px;
}
.move-up {
	position:relative;
	top:-16rem;
	z-index: 1;
	margin-bottom: -16rem;
}

.move-down i {
	background-color:white;
	width: 80px;
	border-radius: 80px;
	height: 80px;
	line-height: 50px;
}

.transparent {
	opacity: 0.5;
}

#info, #contact, #piecharts {
	padding-top: 75px;
	padding-bottom: 75px;
}

#credits {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color:rgba(0, 0, 0, 0.1);
}

#piecharts {
	background-image:url(../img/pattern.png), url(../img/piebg.jpg);
	background-position: top -20px center;
	text-shadow: 1px 1px 2px #000;
}

#info h1, #piecharts h1, #contact h1 {
	text-align:center;
	margin:0;
	margin-bottom: 40px;
}
#info h1 small, #piecharts h1 small, #contact h1 small {
	font-size:14px;
	text-transform: uppercase;
}

.fa-custom {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: solid 1px #AAA;
	color: #AAA;
	line-height: 50px;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
	position:fixed;
	width:100%;
	z-index: 1000;
	transition: all .2s ease-in-out;
}

.divider {
	width:50px;
	height: 2px;
	border-bottom: solid 1px #AAA;
	margin:auto;
	margin-bottom: 10px;
}

.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display:none;
}
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

.content {
	padding-bottom: 25vh;
}

a, a > i {
	color: #edc19a;
	text-decoration: none !important;
	display: inline;
	transition: 0.3s all;
}

a > i:hover {
	cursor: pointer;
}

p {
	line-height: 1.6em;
	font-size: 1.1em;
}

a:hover {
	text-shadow: 0 0 0.2rem #edc19a;
	color: #eed7c3;
}

i {
	margin-right: 0.4rem;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}

	.content img {
		margin: 0.5em 0;
	}
	
	.hero-title {
		font-size: 3.6em;
	}

	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}

	.card-body {
		margin: 0.8rem 0;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}