.videoWrapper {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    width: 100%;
}

.videoWrapper > iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}