/*!
 * Start Bootstrap - Half Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    height: 100%;
}

/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

.carousel {
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    background: #171717;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.hero {
    position: absolute;
    top: 20%;
    width: 100%;
    z-index: 3;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
}

.hero h1 {
    font-size: 3.6em;
    text-shadow: 0 0 0.3em rgba(97, 51, 40, 1); 
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.btn-hero {
    background: #613328;
    color: #f3aa55;
    font-family: "Cinzel Decorative", "Palatino Light", Times, Times New Roman, Georgia, serif;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 0.5em 2em;
    position: relative;
    text-shadow: 0 0 8px #000000;
    transition: 0.3s all;
    border-top: 0.1em solid #f3aa55;
    border-bottom: 0.1em solid #f3aa55;
    margin-top: 0.5em;
}

.btn-hero:hover {
    transform: scale(1.1);
    color: #edc19a;
    border-top: 0.1em solid #edc19a;
    border-bottom: 0.1em solid #edc19a;
}


footer {
    margin-top: 0.8rem;
}

@media screen and (max-width: 600px) {
    .hero-title {
        font-size: 3em !important;
    }
}